<%= form_for(@question, 
             url: questions_path,
             html: {class: 'hidden'}, 
             remote: true) do |f| %>
  <div class="error-messages"></div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :content %>
  <%= f.text_area :content %>
  
  <%= f.submit 'Ask Question', class: 'btn btn-primary submit-question' %>
  <%= link_to 'Cancel', '#', class: 'btn btn-default cancel-question' %>

<% end %>
