<%= form_for(@question, 
             url: category_questions_path,
             html: {class: 'hidden'}, 
             remote: true) do |f| %>

  <h3>Ask a question</h3>
  <div class="error-messages"></div>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>
  
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :category %>
  <%= f.collection_select :category_id,
    Category.all,
    :id,
    :name,
    selected: params[:category_id] %>
  
  <%= f.submit 'Ask Question', class: 'btn btn-primary submit-question' %>
  <%= link_to 'Cancel', '#', class: 'btn btn-default cancel-question' %>

<% end %>
