<%= form_for(@question, 
             url: form_action(@question),
             method: form_method(@question),
             html: {class: 'question-form hidden'}, 
             remote: true) do |f| %>

  <div class="form-title">
    <h3>Ask a question:</h3>
  </div><!-- /.form-title -->

  <div class="error-messages"></div><!-- /.error-messages -->

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'input-lg', autofocus: true %>
  </div> 

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'input-lg' %>
  </div> 

  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select :category_id,
      Category.all,
      :id,
      :name,
      { selected: params[:category_id] },
      { class: 'input-lg' } %>
  </div> 
  
  <div class="form-group">
    <%= f.submit 'Ask Question',
      class: 'btn btn-primary btn-lg submit-question' %>

    <%= link_to 'Cancel', '#',
      class: 'btn btn-default btn-lg btn-block cancel-question' %>
  </div> 

<% end %>
