<div class="container-fluid full-question">
  <div class="question">
    <%= render 'questions/question', question: @question %>
  </div><!-- question -->

  <%# Submits to questions#update %>
  <%= render 'questions/form' %>

  <%# Submits to answers#create %>
  <%= render 'answers/form' %>

  <%# Handled in assets pipeline %>
  <%= link_to 'Answer this question', '#',
    class: 'btn btn-primary new-answer' %>

  <%# Return to list of questions %>
  <%= link_to 'Back',
    category_questions_path(@category),
    class: 'btn btn-default back',
    remote: true %>


  <div class="answers-index">
    <% @answers.each do |answer| %>
      <%= render 'answers/answer', answer: answer %>
    <% end %>
  </div><!-- answers-index -->

  <%# Only double nav buttons if necessary %>
  <% if @answers.length > 3 %>
    <%# Handled in assets pipeline %>
    <%= link_to 'Answer this question', '#',
      class: 'btn btn-primary new-answer' %>

    <%# Return to list of questions %>
    <%= link_to 'Back',
      category_questions_path(@category),
      class: 'btn btn-default back',
      remote: true %>
  <% end %>

</div><!-- container-fluid full-question -->
