<div class="container-fluid full-question">
  <div class="container question">
    <%= render 'questions/question', question: @question %>
  </div><!-- question -->

  <%# Submits to questions#update %>
  <%= render 'questions/form' %>

  <%# Submits to answers#create %>
  <%= render 'answers/form' %>

  <%# Buttons for new answer and back %>
  <%= render 'questions/full_question_nav' %>

  <div class="answers-index">
    <% @answers.each do |answer| %>
      <%= render 'answers/answer', answer: answer %>
    <% end %>
  </div><!-- answers-index -->

  <%# Only double nav buttons if necessary %>
  <% if @answers.length > 3 %>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-10">
        <%= link_to 'Back to top', '#',
          class: 'btn btn-default top' %>
      </div>
    </div>
  <% end %>

</div><!-- container-fluid full-question -->
