<div class="container full-question">
  <div class="question">
    <%= render 'questions/question', question: @question %>
  </div><!-- question -->

  <%= render 'questions/form' %>

  <div class="answers-index">
    <% @answers.each do |answer| %>
      <%= render 'answers/answer', answer: answer %>
    <% end %>
  </div><!-- answers-index -->


  <%= render 'answers/form' %>

  <%= link_to 'Answer Question',
    new_question_answer_path(@question),
    class: 'btn btn-default new-answer',
    remote: true %>

  <%= link_to 'Back',
    category_questions_path(@category),
    class: 'btn btn-default back',
    remote: true %>

</div><!-- container full-question -->
