<div class="container-fluid questions-index">
  <div class="category-title">
    <h1><%= @category.name %></h1>
  </div>

  <%# Submits to questions#create %>
  <%= render '/questions/form' %>

  <%# Buttons for forms, back, and search %>
  <%= render '/questions/questions_nav' %>

  <% @questions.each do |question| %>
    <%= render '/questions/questions_prompt', question: question %>
  <% end %>

  <%# Only double nav buttons if necessary %>
  <% if @questions.length > 3 %>
    <%= render '/questions/questions_nav' %>
  <% end %>

</div><!-- /.container-fluid.questions-index -->
