<div class="row question-heading">
  <div class="col-xs-2 question-rating">
    <h3 class="vote-count"><%= question.count_answers %></h2>
  </div><!-- /.col-xs-2.question-rating -->

  <div class="col-xs-8 question-title">
    <h3><%= question.title %></h2>
  </div><!-- /.col-xs-8.question-title -->

  <div class="col-sm-2 user-option">
    <% if current_user && current_user.id == question.user_id %>
      <%= link_to '<span class="glyphicon glyphicon-pencil"></san>'.html_safe,
        edit_question_path(question),
        class: 'question-edit',
        remote: true %>

      <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe,
        question_path(question),
        class: 'question-delete',
        method: :delete,
        data: {
          confirm: "Are you sure you want to delete: #{@question.title}?"
        },
        remote: true %>
    <% end %>
  </div><!-- /.col-sm-2.user-option -->
</div><!-- /.row.question-heading -->

<div class="row question-content">
  <div class="col-sm-10 col-sm-offset-2">
    <article>
      <p><%= question.content %></p>
    </article>
  </div><!-- /.col-sm-10.col-sm-offset-2 -->
</div><!-- /.row.question-content -->

<div class="row">
  <div class="col-sm-4 col-sm-offset-8 user-info">
    <p>Asked by: <%= question.name %></p>
    <p><%= local_time_ago(question.created_at) %></p>
  </div><!-- /.col-sm-4.col-sm-offset-8 -->
</div><!-- /.row.user-info -->
