<div class="row questions-nav">
  <div class="col-sm-2 col-sm-offset-5">
    <%# Handled in assets pipeline %>
    <%= link_to 'Ask a Question', '#',
      class: 'btn btn-default new-question' %>
  </div><!-- /.col-sm-2.col-sm-offset-4 -->

  <div class="col-sm-2">
    <%# Return to categories list %>
    <%= link_to 'Back to Categories', categories_path,
      class: 'btn btn-default back',
      remote: true %>
  </div><!-- /.col-sm-2 -->

  <div class="col-sm-3 question-search">
    <%= form_tag category_questions_path(@category),
      method: :get,
      class: 'input-group',
      remote: true do %>
          <%= search_field_tag :search, params[:search],
            placeholder: "Search questions",
            class: 'form-control'%>
          <span class="input-group-btn">
            <%= submit_tag 'Find', name: nil,
              class: 'btn btn-default search' %>
          </span>
    <% end %>
    <%# <input class="form-control" type="text" placeholder="Search feature coming soon..."> %>
    <%# <span class="input-group-btn"> %>
      <%# <button class="btn btn-default search" type="button" disabled="disabled">Find</button> %>
    <%# </span> %>
  </div><!-- /.col-sm-4.input-group.question-search -->

</div><!-- /.row.questions-nav -->
