<div class="container-fluid questions-index">
  <div class="category-title">
    <h1><%= @category.name %></h1>
  </div>

  <%# Submits to questions#create %>
  <%= render '/questions/form' %>

  <%# Buttons for forms, back, and search %>
  <%= render '/questions/questions_nav' %>

  <% if @questions.any? %>
    <% @questions.each do |question| %>
      <%= render '/questions/questions_prompt', question: question %>
    <% end %>
  <% else %>
    <h3>No questions matched your search.</h3>
    <h4>Try asking the community:</h4>
    <%= link_to 'Ask a Question', '#',
      class: 'btn btn-default new-question' %>
  <% end %>


  <%# Only double nav buttons if necessary %>
  <% if @questions.length > 3 %>
    <%= render '/questions/questions_nav' %>
  <% end %>

</div><!-- /.container-fluid.questions-index -->
