<div class="row question-heading">
  <div class="col-sm-2 question-rating">
    <%# Id as placeholder, later count # associated questions %>
    <h2 class="vote-count"><%= question.id %></h2>
  </div><!-- col-sm-2 question-rating -->

  <div class="col-sm-10 question-title">
    <h2><%= question.title %></h2>
  </div><!-- col-sm-10 question-title -->
</div><!-- row question-heading -->

<div class="row question-content">
  <div class="col-sm-10 col-sm-offset-2">
    <p><%= question.content %></p>
  </div><!-- col-sm-10 col-sm-offset-2 -->

  <% if current_user && current_user.id = question.id %>
    <div class="row question-options">
      <div class="col-sm-1 col-sm-offset-10">
        <%= link_to 'Edit', edit_question_path(question), remote: true %>
      </div><!-- col-sm-1 col-sm-offset-10 -->
      <div class="col-sm-1">
        <%= link_to 'Delete', question_path(question),
            method: :delete,
            data: { confirm: "Are you sure you want to delete: #{@question.title}?"}, remote: true %>
      </div><!-- col-sm-1 -->
    </div><!-- row question-options -->
  <% end %>
</div><!-- row question-content -->
