<h1>Questions</h1>

<div class="quote">
  <blockquote>
    <!-- <%= QuoteAPI.get_quote %> -->
  </blockquote>
</div>

<!-- Move new question to navbar? -->
<p><%= link_to 'New Question', new_question_path %></p>

<div class="container questions-index">
  <% @questions.each do |question| %>
    <div class="container-fluid question-prompt">
      <div class="row question-heading">
        <div class="col-sm-3 vote-group">
          <%= button_to 'Up', up_vote_question_path(question), method: :patch %>
          <p class="vote-count"><%= question.count_votes %></p>
          <%= button_to 'Down', down_vote_question_path(question), method: :patch %>
        </div><!-- col-sm-3 vote-group -->

        <div class="col-sm-9 question-title">
          <h3 class="question-title">(<%= question.id %>) <%= question.title %></h3>
        </div><!-- col-sm-9 question-title -->
      </div><!-- row question-heading -->

      <div class="row question-preview">
        <div class="col-sm-9 col-sm-offset-3"><h5><%= question.preview %></h5></div>
      </div><!-- row question-preview -->

      <div class="row question-options">
        <div class="col-sm-2 col-sm-offset-6 question-show">
          <%= link_to 'Show', question_path(question) %>
        </div><!-- col-sm-2 col-sm-offset-6 question-show -->

        <div class="col-sm-2 question-edit">
        <%= link_to 'Edit', edit_question_path(question) %>
        </div><!-- col-sm-2 question-show -->

        <div class="col-sm-2 question-delete">
          <%= link_to 'Delete', question_path(question),
            method: :delete,
            data: { confirm: "Are you sure you want to delete: #{question.title}?" } %>
        </div><!-- col-sm-2 question-delete -->
      </div><!-- row question-option -->
    </div><!-- container-fluid question-prompt -->
  <% end %>
</div><!-- container questions-container -->
