<h1><%= @question.title %></h1>

<article><%= @question.content %></article>

<div class="answers">
	<h2>Answers:</h2>
	<%= render @question.answers %>
</div>

<div class="new_answer">
	<h3>Add an answer:</h3>
	<%= render 'answers/form' %>
</div>

<%= link_to 'Back', questions_path %>