<h1><%= @question.title %></h1>

<article><%= @question.content %></article>

<p>
	<%= link_to 'Edit', edit_question_path(@question) %>
	<%= link_to 'Delete', question_path(@question),
			method: :delete,
			data: { confirm: "Are you sure you want to delete: #{@question.title}?"} %>
</p>

<div class="answers">
	<h2>Answers:</h2>
	<%= render @question.answers.sort_by { |a| a.count_votes}.reverse! %>
</div>

<div class="new_answer">
	<h3>Add an answer:</h3>
	<%= render 'answers/form' %>
</div>

<%= link_to 'Back', questions_path %>