<%= form_for(:session,
              url: login_path,
              html: {class: 'login-form'},
              remote: true) do |f| %>
            
  <div class="form-title">
    <h2>Log in</h2>
  </div><!-- /.form-title -->

  <div class="error-messages"></div><!-- /.error-messages -->

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'input-lg',
      placeholder: 'e.g. bob@hope.com', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'input-lg',
      placeholder: '6 characters minimum...' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Log In',
      class: 'btn btn-primary btn-lg submit submit-login' %>
  </div>

  <%# Allow user to change form type %>
  <div class="form-title">
    <h3>New User?</h3>
  </div><!-- /.form-title -->

  <div class="form-group">
    <%= link_to 'Create Profile',
      signup_path,
      class: 'btn btn-primary btn-lg btn-block convert-form',
      remote: true %>
  </div>

  <div class="form-group">
    <%= link_to 'Cancel Login', '#',
      class: 'btn btn-primary btn-lg btn-block cancel close-lightbox' %>
  </div>
<% end %>
