<%= form_for @user,
  url: '/users',
  remote: true do |f| %>

  <div class="form-title">
    <h2>Create an Account</h2>
  </div><!-- /.form-title -->

  <div class="error-messages"></div><!-- /.error-messages -->

  <div class="form-group">
    <%= f.label :name, 'Display name' %>
    <%= f.text_field :name, class: 'input-lg',
      placeholder: 'Your public name', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'input-lg',
      placeholder: 'e.g. bob@hope.com (used only for login)' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'input-lg',
      placeholder: '6 characters minimum...' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation, class: 'input-lg' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create account', class: 'btn btn-primary btn-lg submit' %>
  </div>

  <%# Allow user to change form type %>
  <div class="form-title">
    <h3>Existing User?</h3>
  </div><!-- /.form-title -->

  <div class="form-group">
    <%= link_to 'Login',
      login_path,
      class: 'btn btn-primary btn-lg btn-block convert-form',
      remote: true %>
  </div>

  <div class="form-group">
    <%= link_to 'Cancel Login', '#',
      class: 'btn btn-primary btn-lg btn-block close-lightbox' %>
  </div>
<% end %>
