<div class="container">
  <h1 class="form-title">Sign Up</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 signup-form">
      <%= form_for @user,
        url: '/users',
        remote: true do |f| %>

        <div class="error-messages"></div>

        <div class="form-group">
          <%= f.label :name, 'Display name' %>
          <%= f.text_field :name, class: 'input-lg', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'input-lg' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'input-lg' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation, class: 'input-lg' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Create account', class: 'btn btn-primary btn-lg' %>
        </div>

      <% end %>

      <%= link_to 'Return to categories',
        categories_path,
        class: 'btn btn-default back' %>
    </div><!-- col-sm-6 col-sm-offset-3 signup-form -->
  </div><!-- row -->
</div><!-- /.container -->
