<%# style: "background: #{image_tag(answer.avatar.url)}" %>
<div id="<%= answer.id %>" class="container full-answer"
                           style="background: linear-gradient(
                           rgba(0,0,0,0.7),
                           rgba(0,0,0,0.7)
                           ),
                           url(<%= answer.avatar.url %>);
                           background-size: cover;">
  <div class="row user-action">
    <div class="col-xs-12">
      <% if current_user && current_user.id == answer.user_id %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe,
          answer_path(answer),
          class: 'answer-delete',
          method: :delete,
          data: {
            confirm: "Are you sure?"
          },
          remote: true %>
      <% end %>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row.user-action -->

  <div class="row">
    <div class="col-xs-2 answer-rating">
      <%= link_to agree_answer_path(answer), method: :put,
        class: "agree " + (current_user && current_user.voted_up_on?(answer) ? "voted" : ""),
        remote: true do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
      <% end %>

      <h4 class="vote-count"><%= answer.vote_score %></h4>

      <%= link_to disagree_answer_path(answer), method: :put,
        class: "disagree " + (current_user && current_user.voted_down_on?(answer) ? "voted" : ""),
        remote: true do %>
        <span class="glyphicon glyphicon-thumbs-down"></span>
      <% end %>
    </div><!-- /.col-xs-2.answer-rating -->

    <div class="col-xs-10 answer-content">
      <p><%= answer.content %></h5>
    </div><!-- /.col-xs-10.answer-content -->
  </div><!-- /.row -->

  <div class="row answer-info">
    <div class="col-xs-12">
      <p>Answered by: <%= answer.name %></p>
      <p><%= local_time_ago(answer.created_at) %></p>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row.answer-info -->
</div><!-- /#<%= answer.id %>.container.full-answer -->
