<div class="row answer">
  <div class="col-sm-2 vote-group">
    <%= button_to 'Up', up_vote_question_answer_path(@question, answer), method: :patch %>
    <h5 class="vote-count"><%= answer.count_votes %></h5>
    <%= button_to 'Down', down_vote_question_answer_path(@question, answer), method: :patch %>
  </div><!-- col-sm-2 vote-group -->
  <div class="col-sm-10 answer-content">
    <div class="row">
      <div class="col-sm-12"><p><%= answer.content %></p></div>
    </div>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-10">
        <%= link_to 'Edit', questions_path %>
      </div>
      <div class="col-sm-1">
        <%= link_to 'Delete', questions_path %>
      </div>
    </div>
  </div><!-- col-sm-10 answer-content -->
</div><!-- row answer -->
