<%= content_tag :div, id: answer.id, class: 'row full-answer' do %>

  <div class="col-sm-2 answer-rating">
    <%= link_to agree_answer_path(answer), method: :put,
      class: "agree " + (current_user && current_user.voted_up_on?(answer) ? "voted" : ""),
      remote: true do %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
    <% end %>

    <h4 class="vote-count"><%= answer.vote_score %></h4>

    <%= link_to disagree_answer_path(answer), method: :put,
      class: "disagree " + (current_user && current_user.voted_down_on?(answer) ? "voted" : ""),
      remote: true do %>
      <span class="glyphicon glyphicon-thumbs-down"></span>
    <% end %>
  </div><!-- col-sm-2 answer-rating -->

  <div class="col-sm-7 answer-content">
    <h5><%= answer.content %></h5>
  </div><!-- col-sm-7 answer-content -->

  <div class="col-sm-3 user-action">
    <% if current_user && current_user.id == answer.user_id %>
      <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe,
        answer_path(answer),
        class: 'answer-delete',
        method: :delete,
        data: {
          confirm: "Are you sure?"
        },
        remote: true %>

    <% else %>
      <p>Answered by: <%= answer.name %></p>
      <p><%= local_time_ago(answer.created_at) %></p>
    <% end %>
  </div><!-- col-sm-3 -->
<% end %><!-- row answer -->
