<h1><%= category.name %></h1>

<ul class="nav nav-pills category-nav">
  <li role="presentation", class="active">
    <%= link_to 'New Question', '#', remote: true, class: 'btn btn-primary new-question' %>
  </li>

  <% @categories.each do |category| %>
    <li role="presentation">
      <%= link_to category.name, category_path(category), remote: true %></li>
  <% end %>
</ul>

<%= render '/questions/form' %>

<div class="container questions-index">
  <% @questions.each do |question| %>
    <%= render '/questions/questions_prompt', question: question %>
  <% end %>
</div><!-- container questions-container -->
