<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
      google: ['Montserrat', 'Raleway']
  }) %>
  <title>SoCal Kin</title>
</head>
<body>
  <%# render 'layouts/header' %>

  <%# Open lightbox with user login/signup %>
  <%# Disable regular content while open %>
  <div id="lightbox-container" class="hidden"></div><!-- /.user-lightbox -->

  <div id="content" class="container-fluid">
    <%= yield %>
  </div><!-- /#content.container -->

  <%= render 'layouts/footer' %>
  
</body>
</html>
